In [7]:
import pandas as pd
import json
import requests

In [149]:
df = pd.read_excel('C:/Users/acorn/Desktop/dddd/bus/2020bus.xlsx')

In [150]:
del df['ARS-ID']
del df['표준ID']
del df['비고']

In [151]:
df

                정류장명         X좌표        Y좌표
0            종로2가사거리  126.987750  37.569765
1        창경궁.서울대학교병원  126.996566  37.579183
2          명륜3가.성대입구  126.998340  37.582671
3           종로2가.삼일교  126.987613  37.568579
4      혜화동로터리.여운형활동터  127.001744  37.586243
...              ...         ...        ...
11275          우성아파트  127.139339  37.550386
11276          우성아파트  127.140046  37.550643
11277           조일약국  127.123596  37.533630
11278           성내시장  127.125497  37.536155
11279    천호우체국.로데오거리  127.127337  37.540343

[11280 rows x 3 columns]

In [140]:
def get_addr(x, y):
    get_code = requests.get('http://api.vworld.kr/req/address?service=address&request=getAddress&version=2.0&crs=epsg:4326&point='+x+','+y+'&format=json&type=both&zipcode=true&simple=false&key=9834BFA9-DBB5-342F-BCB9-6E68109DCA6C')
    json_obj = get_code.json()
    if json_obj['response']['status'] == 'NOT_FOUND':
        result = "NaN"
    else:
        result = json_obj['response']['result'][0]['text']
    return result

# API 키값
# 9834BFA9-DBB5-342F-BCB9-6E68109DCA6C
# DF50E610-13D3-392C-99C6-D4A1E1DE8512

In [141]:
List = []

for i in range(0, len(df['X좌표'])):
    List.append(get_addr(str(df['X좌표'][i]),str(df['Y좌표'][i])))

In [142]:
len(List)

11280

In [143]:
data = pd.DataFrame(List, columns = ['주소'])

In [144]:
data

                          주소
0       서울특별시 종로구 종로2가 84-11
1         서울특별시 종로구 와룡동 2-87
2       서울특별시 종로구 명륜4가 193-2
3          서울특별시 종로구 관철동 268
4           서울특별시 종로구 혜화동 56
...                      ...
11275     서울특별시 강동구 천호동 19-1
11276  서울특별시 강동구 암사동 421-110
11277    서울특별시 강동구 성내동 127-1
11278     서울특별시 강동구 성내동 38-3
11279    서울특별시 강동구 천호동 421-4

[11280 rows x 1 columns]

In [145]:
excdata = data[data['주소']=="NaN"]

In [146]:
excdata

       주소
2934  NaN
2951  NaN
4534  NaN
4536  NaN
4544  NaN
4545  NaN
4676  NaN
5659  NaN

In [154]:
data2018 = pd.concat([df,data], axis=1)
data2018

                정류장명         X좌표        Y좌표                     주소
0            종로2가사거리  126.987750  37.569765   서울특별시 종로구 종로2가 84-11
1        창경궁.서울대학교병원  126.996566  37.579183     서울특별시 종로구 와룡동 2-87
2          명륜3가.성대입구  126.998340  37.582671   서울특별시 종로구 명륜4가 193-2
3           종로2가.삼일교  126.987613  37.568579      서울특별시 종로구 관철동 268
4      혜화동로터리.여운형활동터  127.001744  37.586243       서울특별시 종로구 혜화동 56
...              ...         ...        ...                    ...
11275          우성아파트  127.139339  37.550386     서울특별시 강동구 천호동 19-1
11276          우성아파트  127.140046  37.550643  서울특별시 강동구 암사동 421-110
11277           조일약국  127.123596  37.533630    서울특별시 강동구 성내동 127-1
11278           성내시장  127.125497  37.536155     서울특별시 강동구 성내동 38-3
11279    천호우체국.로데오거리  127.127337  37.540343    서울특별시 강동구 천호동 421-4

[11280 rows x 4 columns]

In [148]:
df2 = pd.read_excel('C:/Users/acorn/Desktop/dddd/bus/2018data.xlsx')
df3 = pd.read_excel('C:/Users/acorn/Desktop/dddd/bus/2019data.xlsx')

In [155]:
List = []

for i in range(0, len(df2['X좌표'])):
    List.append(get_addr(str(df2['X좌표'][i]),str(df2['Y좌표'][i])))

In [157]:
data2 = pd.DataFrame(List, columns = ['주소'])

data2019 = pd.concat([df2,data2], axis=1)

In [158]:
List = []

for i in range(0, len(df3['X좌표'])):
    List.append(get_addr(str(df3['X좌표'][i]),str(df3['Y좌표'][i])))

In [160]:
data3 = pd.DataFrame(List, columns = ['주소'])

data2020 = pd.concat([df3,data3], axis=1)

In [161]:
result = pd.concat([data2018, data2019, data2020], keys=['2018','2019','2020'])

In [162]:
result.to_excel('C:/Users/acorn/Desktop/dddd/bus/resultdata.xlsx')