In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel('C:/Users/acorn/Desktop/dddd/metro/metrodata.xlsx')

In [3]:
del df1['Unnamed: 0']

In [4]:
df1

       호선         역명                     주소
0       1    가산디지털단지      서울특별시 금천구 벚꽃로 309
1       1         개봉    서울특별시 구로구 경인로40길 47
2       1        광운대     서울특별시 노원구 석계로 98-2
3       1         구로    서울특별시 구로구 구로중앙로 174
4       1         구일      서울특별시 구로구 구일로 133
..    ...        ...                    ...
366  우이신설     북한산보국문   서울특별시 성북구 보국문로 지하 88
367  우이신설         정릉  서울특별시 성북구 아리랑로 지하 122
368  우이신설     성신여대입구  서울특별시 성북구 동소문로 지하 102
369  우이신설   보문(우이신설)   서울특별시 성북구 보문로 지하 116
370  우이신설  신설동(우이신설)    서울특별시 동대문구 왕산로 지하 1

[371 rows x 3 columns]

In [5]:
data2017 = df1

In [6]:
newdata = {'호선':'9', '역명':'중앙보훈병원', '주소':'서울특별시 강동구 동남로 지하 117'}

In [7]:
df2 = df1.append(newdata, ignore_index=True)

In [8]:
df2

       호선         역명                     주소
0       1    가산디지털단지      서울특별시 금천구 벚꽃로 309
1       1         개봉    서울특별시 구로구 경인로40길 47
2       1        광운대     서울특별시 노원구 석계로 98-2
3       1         구로    서울특별시 구로구 구로중앙로 174
4       1         구일      서울특별시 구로구 구일로 133
..    ...        ...                    ...
367  우이신설         정릉  서울특별시 성북구 아리랑로 지하 122
368  우이신설     성신여대입구  서울특별시 성북구 동소문로 지하 102
369  우이신설   보문(우이신설)   서울특별시 성북구 보문로 지하 116
370  우이신설  신설동(우이신설)    서울특별시 동대문구 왕산로 지하 1
371     9     중앙보훈병원   서울특별시 강동구 동남로 지하 117

[372 rows x 3 columns]

In [9]:
data2018, data2019 = df2, df2

In [14]:
import requests
from urllib.parse import urlparse
import json

In [15]:
def get_xy(addr):
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + addr
    headers = {"Authorization": "KakaoAK 6cdf352a6c95daa50d9f554e1c18631c"}
    results = requests.get(urlparse(url).geturl(), headers=headers)
    json_obj = results.json()
    
    global val

    if len(json_obj['documents']) == 0:
        val = ['0', '0']
        
    else:
        for document in json_obj['documents']:
            val = [document['y'], document['x']]
            
    return val

In [16]:
addr = '서울특별시 동대문구 왕산로 지하 1'
url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + addr
headers = {"Authorization": "KakaoAK 6cdf352a6c95daa50d9f554e1c18631c"}
results = requests.get(urlparse(url).geturl(), headers=headers)
json_obj = results.json()
print(json_obj)

{'documents': [{'address': {'address_name': '서울 동대문구 신설동 76-5', 'b_code': '1123010100', 'h_code': '1123053600', 'main_address_no': '76', 'mountain_yn': 'N', 'region_1depth_name': '서울', 'region_2depth_name': '동대문구', 'region_3depth_h_name': '용신동', 'region_3depth_name': '신설동', 'sub_address_no': '5', 'x': '127.024701893044', 'y': '37.5753194830738'}, 'address_name': '서울 동대문구 왕산로 지하 1', 'address_type': 'ROAD_ADDR', 'road_address': {'address_name': '서울 동대문구 왕산로 지하 1', 'building_name': '신설동역', 'main_building_no': '1', 'region_1depth_name': '서울', 'region_2depth_name': '동대문구', 'region_3depth_name': '신설동', 'road_name': '왕산로', 'sub_building_no': '', 'underground_yn': 'Y', 'x': '127.024701893044', 'y': '37.5753194830738', 'zone_no': '02582'}, 'x': '127.024701893044', 'y': '37.5753194830738'}], 'meta': {'is_end': True, 'pageable_count': 1, 'total_count': 1}}

In [17]:
addr = '서울특별시 노원구 마들로5길 114'
url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + addr
headers = {"Authorization": "KakaoAK 6cdf352a6c95daa50d9f554e1c18631c"}
results = requests.get(urlparse(url).geturl(), headers=headers)
json_obj = results.json()
print(json_obj)

{'documents': [], 'meta': {'is_end': True, 'pageable_count': 0, 'total_count': 0}}

In [38]:
List = []

for address in data2017['주소']:
    List.append(get_xy(address))
    
data2017xy = pd.DataFrame(List, columns = ['X좌표', 'Y좌표'])

data2017 = pd.concat([data2017, data2017xy], axis=1)

In [40]:
List = []

for address in data2018['주소']:
    List.append(get_xy(address))
    
data2018xy = pd.DataFrame(List, columns = ['X좌표', 'Y좌표'])

data2018 = pd.concat([data2018, data2018xy], axis=1)

In [41]:
List = []

for address in data2019['주소']:
    List.append(get_xy(address))
    
data2019xy = pd.DataFrame(List, columns = ['X좌표', 'Y좌표'])

data2019 = pd.concat([data2019, data2019xy], axis=1)

In [42]:
xy_result = pd.concat([data2017, data2018, data2019], keys=['2017','2018','2019'])

In [43]:
xy_result

            호선         역명                     주소               X좌표  \
2017 0       1    가산디지털단지      서울특별시 금천구 벚꽃로 309  37.4815957375443
     1       1         개봉    서울특별시 구로구 경인로40길 47  37.4945222528654
     2       1        광운대     서울특별시 노원구 석계로 98-2  37.6230335564713
     3       1         구로    서울특별시 구로구 구로중앙로 174  37.5024345090279
     4       1         구일      서울특별시 구로구 구일로 133  37.4963911827294
...        ...        ...                    ...               ...
2019 367  우이신설         정릉  서울특별시 성북구 아리랑로 지하 122  37.6026876819314
     368  우이신설     성신여대입구  서울특별시 성북구 동소문로 지하 102  37.5927179261346
     369  우이신설   보문(우이신설)   서울특별시 성북구 보문로 지하 116  37.5853277238848
     370  우이신설  신설동(우이신설)    서울특별시 동대문구 왕산로 지하 1  37.5753194830738
     371     9     중앙보훈병원   서울특별시 강동구 동남로 지하 117                 0

                       Y좌표
2017 0    126.882559483336
     1    126.859102583368
     2     127.06176348127
     3    126.881491595821
     4    126.869920428658
...                    ...
2019 367  127.013496185509
     368  127.016477649743
     369  127.019386983515
     370  127.024701893044
     371                 0

[1115 rows x 5 columns]

In [53]:
excdata = xy_result[xy_result['X좌표']=="0"]

In [55]:
excdata

            호선      역명                       주소 X좌표 Y좌표
2017 8       1      녹천      서울특별시 노원구 마들로5길 114   0   0
     11      1     도봉산     서울특별시 도봉구 도봉로 964-33   0   0
     75      2   영등포구청  서울특별시 영등포구 당산로27길 지하121   0   0
     101     3      옥수       서울특별시 성동구 동호로 지하21   0   0
     224     6      안암       서울특별시 성북구 인촌로 지하89   0   0
     245     7      상봉      서울특별시 중랑구 망우로 지하297   0   0
     317   분당선     왕십리      서울특별시 성동구 완십리광장로 17   0   0
     335   중앙선      옥수       서울특별시 성동구 동호로 지하21   0   0
     363  우이신설      삼양        서울특별시 강북구 삼양로 260   0   0
2018 8       1      녹천      서울특별시 노원구 마들로5길 114   0   0
     11      1     도봉산     서울특별시 도봉구 도봉로 964-33   0   0
     75      2   영등포구청  서울특별시 영등포구 당산로27길 지하121   0   0
     101     3      옥수       서울특별시 성동구 동호로 지하21   0   0
     224     6      안암       서울특별시 성북구 인촌로 지하89   0   0
     245     7      상봉      서울특별시 중랑구 망우로 지하297   0   0
     317   분당선     왕십리      서울특별시 성동구 완십리광장로 17   0   0
     335   중앙선      옥수       서울특별시 성동구 동호로 지하21   0   0
     363  우이신설      삼양        서울특별시 강북구 삼양로 260   0   0
     371     9  중앙보훈병원     서울특별시 강동구 동남로 지하 117   0   0
2019 8       1      녹천      서울특별시 노원구 마들로5길 114   0   0
     11      1     도봉산     서울특별시 도봉구 도봉로 964-33   0   0
     75      2   영등포구청  서울특별시 영등포구 당산로27길 지하121   0   0
     101     3      옥수       서울특별시 성동구 동호로 지하21   0   0
     224     6      안암       서울특별시 성북구 인촌로 지하89   0   0
     245     7      상봉      서울특별시 중랑구 망우로 지하297   0   0
     317   분당선     왕십리      서울특별시 성동구 완십리광장로 17   0   0
     335   중앙선      옥수       서울특별시 성동구 동호로 지하21   0   0
     363  우이신설      삼양        서울특별시 강북구 삼양로 260   0   0
     371     9  중앙보훈병원     서울특별시 강동구 동남로 지하 117   0   0

In [103]:
def google_xy(addr):
    URL = 'http://maps.googleapis.com/maps/api/geocode/json?sensor=false&language=ko&address={}'.format(addr)
    google_key = 'google_api_key'    URL = 'https://maps.googleapis.com/maps/api/geocode/json?key='+google_key+'&sensor=false&language=ko&address={}'.format(addr)
    response = requests.get(URL)
    data = response.json()
    lat = data['results'][0]['geometry']['location']['lat']
    lng = data['results'][0]['geometry']['location']['lng']
    val = [addr, lat, lng]
    return val

In [104]:
List = []

for address in excdata['주소']:
    List.append(google_xy(address))

In [105]:
excdata_xy = pd.DataFrame(List, columns = ['주소','X좌표', 'Y좌표'])

In [112]:
test = pd.merge(excdata, excdata_xy[19:29], how='inner', on='주소')

In [124]:
excresult = test.drop_duplicates()

In [132]:
excresult = excresult.rename({'X좌표_y':'X좌표', 'Y좌표_y':'Y좌표'}, axis='columns')

In [133]:
excresult

      호선      역명                       주소        X좌표         Y좌표
0      1      녹천      서울특별시 노원구 마들로5길 114  37.641510  127.052623
3      1     도봉산     서울특별시 도봉구 도봉로 964-33  37.689176  127.046130
6      2   영등포구청  서울특별시 영등포구 당산로27길 지하121  37.525120  126.894506
9      3      옥수       서울특별시 성동구 동호로 지하21  37.546675  127.016245
11   중앙선      옥수       서울특별시 성동구 동호로 지하21  37.546675  127.016245
21     6      안암       서울특별시 성북구 인촌로 지하89  37.586053  127.029367
24     7      상봉      서울특별시 중랑구 망우로 지하297  37.596610  127.085810
27   분당선     왕십리      서울특별시 성동구 완십리광장로 17  37.562148  127.037942
30  우이신설      삼양        서울특별시 강북구 삼양로 260  37.626702  127.018296
33     9  중앙보훈병원     서울특별시 강동구 동남로 지하 117  37.537214  127.151420

In [137]:
xy_result.to_excel('C:/Users/acorn/Desktop/dddd/metro/lat_lng_add_metro1.xlsx')

In [138]:
excresult.to_excel('C:/Users/acorn/Desktop/dddd/metro/lat_lng_add_metro2.xlsx')