In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel('C:/Users/USER/Desktop/dump/2. 데이터 파일/지하철/metrodata.xlsx')

In [3]:
del df1['Unnamed: 0']

In [4]:
df1

       호선         역명                     주소
0       1    가산디지털단지      서울특별시 금천구 벚꽃로 309
1       1         개봉    서울특별시 구로구 경인로40길 47
2       1        광운대     서울특별시 노원구 석계로 98-2
3       1         구로    서울특별시 구로구 구로중앙로 174
4       1         구일      서울특별시 구로구 구일로 133
..    ...        ...                    ...
366  우이신설     북한산보국문   서울특별시 성북구 보국문로 지하 88
367  우이신설         정릉  서울특별시 성북구 아리랑로 지하 122
368  우이신설     성신여대입구  서울특별시 성북구 동소문로 지하 102
369  우이신설   보문(우이신설)   서울특별시 성북구 보문로 지하 116
370  우이신설  신설동(우이신설)    서울특별시 동대문구 왕산로 지하 1

[371 rows x 3 columns]

In [5]:
data2017 = df1

In [6]:
newdata = {'호선':'9', '역명':'중앙보훈병원', '주소':'서울특별시 강동구 동남로 지하 117'}

In [7]:
df2 = df1.append(newdata, ignore_index=True)

In [8]:
df2

       호선         역명                     주소
0       1    가산디지털단지      서울특별시 금천구 벚꽃로 309
1       1         개봉    서울특별시 구로구 경인로40길 47
2       1        광운대     서울특별시 노원구 석계로 98-2
3       1         구로    서울특별시 구로구 구로중앙로 174
4       1         구일      서울특별시 구로구 구일로 133
..    ...        ...                    ...
367  우이신설         정릉  서울특별시 성북구 아리랑로 지하 122
368  우이신설     성신여대입구  서울특별시 성북구 동소문로 지하 102
369  우이신설   보문(우이신설)   서울특별시 성북구 보문로 지하 116
370  우이신설  신설동(우이신설)    서울특별시 동대문구 왕산로 지하 1
371     9     중앙보훈병원   서울특별시 강동구 동남로 지하 117

[372 rows x 3 columns]

In [9]:
data2018, data2019 = df2, df2

In [10]:
result = pd.concat([data2017, data2018, data2019], keys=['2017','2018','2019'])

In [11]:
result

            호선         역명                     주소
2017 0       1    가산디지털단지      서울특별시 금천구 벚꽃로 309
     1       1         개봉    서울특별시 구로구 경인로40길 47
     2       1        광운대     서울특별시 노원구 석계로 98-2
     3       1         구로    서울특별시 구로구 구로중앙로 174
     4       1         구일      서울특별시 구로구 구일로 133
...        ...        ...                    ...
2019 367  우이신설         정릉  서울특별시 성북구 아리랑로 지하 122
     368  우이신설     성신여대입구  서울특별시 성북구 동소문로 지하 102
     369  우이신설   보문(우이신설)   서울특별시 성북구 보문로 지하 116
     370  우이신설  신설동(우이신설)    서울특별시 동대문구 왕산로 지하 1
     371     9     중앙보훈병원   서울특별시 강동구 동남로 지하 117

[1115 rows x 3 columns]

In [12]:
result.to_excel('C:/Users/USER/Desktop/dump/2. 데이터 파일/지하철/result.xlsx')

In [13]:
result['주소']

2017  0          서울특별시 금천구 벚꽃로 309
      1        서울특별시 구로구 경인로40길 47
      2         서울특별시 노원구 석계로 98-2
      3        서울특별시 구로구 구로중앙로 174
      4          서울특별시 구로구 구일로 133
                     ...
2019  367    서울특별시 성북구 아리랑로 지하 122
      368    서울특별시 성북구 동소문로 지하 102
      369     서울특별시 성북구 보문로 지하 116
      370      서울특별시 동대문구 왕산로 지하 1
      371     서울특별시 강동구 동남로 지하 117
Name: 주소, Length: 1115, dtype: object

In [14]:
import requests
from urllib.parse import urlparse
import json

In [60]:
def get_xy(addr):
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + addr
    headers = {"Authorization": "KakaoAK 6cdf352a6c95daa50d9f554e1c18631c"}
    results = requests.get(urlparse(url).geturl(), headers=headers)
    json_obj = results.json()
    for document in json_obj['documents']:
        val = [document['y'], document['x']]
    return val

In [75]:
get_xy(result['주소'][8])

UnboundLocalError: local variable 'val' referenced before assignment

In [73]:
List = []

for address in result['주소']:
    List.append(get_xy(address))

UnboundLocalError: local variable 'val' referenced before assignment

In [72]:
list

[['37.4815957375443', '126.882559483336'],
 ['37.4945222528654', '126.859102583368'],
 ['37.6230335564713', '127.06176348127'],
 ['37.5024345090279', '126.881491595821'],
 ['37.4963911827294', '126.869920428658'],
 ['37.455609978438', '126.894514076077'],
 ['37.5405646005342', '126.971332437837'],
 ['37.5158026675555', '126.948359181242']]

In [29]:
result = pd.DataFrame(list, columns = ['X좌표', 'Y좌표'])

            호선         역명                     주소
2017 0       1    가산디지털단지      서울특별시 금천구 벚꽃로 309
     1       1         개봉    서울특별시 구로구 경인로40길 47
     2       1        광운대     서울특별시 노원구 석계로 98-2
     3       1         구로    서울특별시 구로구 구로중앙로 174
     4       1         구일      서울특별시 구로구 구일로 133
...        ...        ...                    ...
2019 367  우이신설         정릉  서울특별시 성북구 아리랑로 지하 122
     368  우이신설     성신여대입구  서울특별시 성북구 동소문로 지하 102
     369  우이신설   보문(우이신설)   서울특별시 성북구 보문로 지하 116
     370  우이신설  신설동(우이신설)    서울특별시 동대문구 왕산로 지하 1
     371     9     중앙보훈병원   서울특별시 강동구 동남로 지하 117

[1115 rows x 3 columns]

In [ ]:
result.to_excel('C:/Users/USER/Desktop/dump/2. 데이터 파일/지하철/result2.xlsx')